<div class="container">
    <div class="row">
        <div class="body border p-2 m-1">
            <!-- <app-databinding></app-databinding> -->
            <!-- <app-databinding-assignments></app-databinding-assignments> -->
            <!-- <app-directives></app-directives> -->
            <!-- <app-user-list></app-user-list> -->
            <!-- <app-product-list></app-product-list> -->
             <!-- <app-my-modal>
                <span>Modal Title From Parent</span>
                <img src="https://img1.hscicdn.com/image/upload/f_auto,t_ds_square_w_320,q_50/lsci/db/PICTURES/CMS/316400/316486.png" />
            </app-my-modal>  -->
            <!-- <app-demo1></app-demo1> -->
             <!-- <app-pipes-demo></app-pipes-demo> -->
              <app-parent></app-parent>
        </div>
    </div>
</div>