<div class="container">
    <div class="row">
        <h3>Best Deals on Smartphones</h3>
        <div class="col">
            <div class="card text-center">
                <img src="images/realme_p1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Realme P1 5g</h5>
                    <p class="card-text">From &#8377; 14,999</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-center">
                <img src="https://rukminim2.flixcart.com/image/210/210/xif0q/mobile/d/h/q/m6-pro-5g-mzb0eprin-poco-original-imags3e7vewsafst.jpeg?q=80"
                    class="card-img-top" alt="..." height="250px">
                <div class="card-body">
                    <h5 class="card-title">Realme P1 5g</h5>
                    <p class="card-text">From &#8377; 14,999</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-center">
                <img src="	https://rukminim2.flixcart.com/image/210/210/xif0q/mobile/4/y/b/-original-imahyzygycuyg3mq.jpeg?q=80"
                    class="card-img-top" alt="..." height="250px">
                <div class="card-body">
                    <h5 class="card-title">Realme P1 5g</h5>
                    <p class="card-text">From &#8377; 14,999</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-center">
                <img src="	https://rukminim2.flixcart.com/image/210/210/xif0q/mobile/h/i/x/-original-imagyr3vfpqrpkbv.jpeg?q=80"
                    class="card-img-top" alt="..." height="250px">
                <div class="card-body">
                    <h5 class="card-title">Realme P1 5g</h5>
                    <p class="card-text">From &#8377; 14,999</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-center">
                <img src="https://rukminim2.flixcart.com/image/210/210/xif0q/mobile/c/q/b/g64-5g-pb2e0006in-motorola-original-imagzzd4nmrgsevr.jpeg?q=80"
                    class="card-img-top" alt="..." height="250px">
                <div class="card-body">
                    <h5 class="card-title">Realme P1 5g</h5>
                    <p class="card-text">From &#8377; 14,999</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-center">
                <img src="	https://rukminim2.flixcart.com/image/210/210/xif0q/mobile/q/p/x/-original-imahf38d4cwmuqep.jpeg?q=80"
                    class="card-img-top" alt="..." height="250px">
                <div class="card-body">
                    <h5 class="card-title">Realme P1 5g</h5>
                    <p class="card-text">From &#8377; 14,999</p>
                </div>
            </div>
        </div>
    </div>
</div>