<h2 class="text-center">Angular Pipes</h2>
<hr />

<h4>Name: {{myName}}</h4>
<h4>
    <input type="text" [(ngModel)]="myName">
</h4>
<h4>Name: {{myName | uppercase}}</h4>
<h4>Name: {{myName | lowercase}}</h4>
<h4>Name: {{myName | titlecase}}</h4>
<h4>My salary : {{mySal}}</h4>
<h4>My salary : {{mySal | currency}}</h4>
<h4>My salary : {{mySal | currency : 'INR'}}</h4>
<!-- input  | pipeName : argument1 : argument2 -->
<h4>My salary : {{mySal | currency : '&euro;'}}</h4>
<h4>My salary : {{mySal | currency : '&#20803;'}}</h4>

<h4> {{today}}</h4>
<h4> {{today | date | uppercase}}</h4>
<h4> {{today | date : 'fullDate' | lowercase}}</h4>
<!-- pipe chaining -->
<h4> {{today | date : 'longDate' | uppercase}}</h4>
<h4> {{today | date : 'mediumDate'}}</h4>
<h4> {{today | date : 'shortDate'}}</h4>
<h4> {{today | date : 'fullTime'}}</h4>
<h4> {{today | date : 'longTime'}}</h4>
<h4> {{today | date : 'mediumTime'}}</h4>
<h4> {{today | date : 'shortTime'}}</h4>
<h4> {{today | date : 'dd-MMMM-yyyy'}}</h4>
<h4> {{ today | date: "fullTime":"UTC" }} </h4>
<hr />

<h4>{{ 12.111222333 | number: "3.2-5" }}</h4>
<h4>{{ 12.1 | number: "3.2-5" }}</h4>
<h4>{{0.5 | number:'3.2-5'}} </h4>

<h4>{{0.25 | percent }}</h4>
<h4>{{0.01 | percent }}</h4>
<hr />

<h4>{{user}}</h4>
<h4>{{user | json}}</h4>

@for(entry of user | keyvalue;track $index){
<h4> {{entry.key}} --- {{entry.value}}</h4>
<!-- <h4>{{entry | json}}</h4> -->
}
<hr />
<h4>{{cars}}</h4>
<h4>{{cars | slice : 2 : 4}}</h4>
<h4>{{myName | slice : 2 : -1}}</h4>


<h4>Age is::{{myAge}}
    <br /> <input type="number" [(ngModel)]="myAge">
</h4>
<hr />
<textarea [(ngModel)]="msg" maxlength="100"></textarea>
<div>Remaining:: {{msg | remaining : 100}}</div>

<textarea [(ngModel)]="msg2" maxlength="200"></textarea>
<div>Remaining:: {{msg2 | remaining :200 }}</div>

<h1>{{longStr | truncate }}</h1>
<h1>{{longStr | truncate : 12 }}</h1>
<h1>{{longStr | truncate : 12 : true }}</h1>
<h1>{{longStr | truncate : 12 : false : '***' }}</h1>

<table class="table table-bordered table-striped">
    <tbody>
        @for(user of userPromise | async;track $index){
        <tr>
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.phone}}</td>
            <td>{{user.address.city}}</td>
        </tr>
        }
    </tbody>
</table>
<hr />

<input type="text" #newNum class="m-1" />
<button (click)="numArr.push(+newNum.value)">add data to arr</button>

<div>
    @for(ele of numArr | mySort;track ele){
       <span>{{ele}} &nbsp;</span>
    }
</div>